# Service unit for the carscraper

[Unit]
Description=Scrape cars from the poolsite
Requires=carscraper.service

[Timer]
Unit=carscraper.service
OnCalendar=*-*-* *:*/2:00

[Install]
WantedBy=timers.target
